* {
  font-family: Arial, sans-serif;
  text-align: center;
}
body, html{
user-select:none;
	background-position:center;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:100% 100%;
	overflow:hidden;
	height:100vh;
}
.noPadding{
padding:0px;  
}
#gamePage{
height:100vh;
}
#canvasDiv{

	/*width:44vw;
		margin-left:28vw;*/
	width: 48%;
    margin-left: 27%;
    height: 80%;
}
#nextDiv{
	margin-top:-14vh;
}
#mainForm{
	width: 100%;
    height: 100%;
	border: 1px solid black
}
#timerSpan{
	font-size:5vw;
}
#endPage{
	margin-top:15vh;
	font-size: 3vw;
}
.msgs{
		font-size: 2.5vw;
		position:absolute;
}
#start{
margin-left:-7vw;
}
#end{
    margin-left: 27vw;
    margin-top: -6vh;
}