html{
	height:100%;
}
body
{
	user-select:none; 
	background-position:center;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:100% 100%;
	overflow:hidden;
}	
.se-pre-con {
	position: fixed;
	left: 0px;
	top:150px;
	width:100%;
	height: 100px;
	z-index: 9999;
	background-repeat: no-repeat;
	background-position:center;
}
.nopadding
{
	padding:0!important;
}
#Canvas
{
	 
	/*border:1px solid black; */
	visibility:hidden;
	margin-top: -10vh;
	background-color:white;
	background-position:center;
/* 	background-attachment:fixed; */
	background-repeat:no-repeat;
	background-size:100% 100%;
	padding:0!important;
}
#Canvasdraw
{
	position:absolute;
	margin-top:8vh;
	padding:0!important;
	z-index:100;
}
#gamePage
{
	margin-top:-2vh;
}
#homeImage
{
	visibility:hidden;
}
#logoImage
{
}
#playButton
{
	padding:0px;
}
#homeButton
{
	padding:0px;
}
#gameOverText
{
	margin-top: 0.5vh;	
	text-align:center;
	font-size:6vw;
	font-weight:bold;	
}
#endPage
{
	margin-top:2vh;
	font-size:3vw;
}
.colorHeight
{
		margin: 2% 6% 0% 6%;
		width: 38%;
		float: left;
		height: 5vh;	
		border: 1px solid black;
}
#paletteSection{
	padding: 0px;
	visibility:hidden;
	background-color:white;
	border-radius:0.5vw;
	margin-top:25vh;
	margin-left:1vw;
	z-index:100;
}
#colorPalette{
	/*box-shadow: 2px 2px 1px deepskyblue;*/
	padding: 0px;
	background-color: aliceblue;
	border: 2px solid deepskyblue;
	border-radius: 5Px;
	margin-bottom:2vh;
}

#colors{
	padding: 0px;
}
#selected{
	padding: 0px;	
}
.selectedColorHeight{
	margin-top: 2%;
	margin-bottom: 15%;
	border: 1px solid silver;
	height: 8vh;	
}
#scoreDiv
{
	background-color:white;
	border-radius:50%;
	height:12vh;
}
.textcls
{
	font-size:1.5vw;
}
#clockDiv
{
	visibility:hidden;
}
#timerSpan,#secondsSpan
{
	font-size:4vw;
	font-weight:bold;	
}
#bottomDiv
{
	bottom:0;
	position:fixed;
}
#instructionDiv
{
	display:none;
	border: 1px solid black;
   border-radius: 1vw;
   font-size: 3vw;
   font-weight: 500;
   position: fixed;
   top: 25vh;
   box-shadow: -3px 3px 19px rgb(0, 0, 0);
}

