.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con 
{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: center no-repeat #fff;
}
body
{
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-position:center;
	background-size:100% 100%;
	user-select:none;
}
.noPadding
{
	padding:0px!important;
}
.jigsawCanvas{
	height:100%;
    width: 100%;
}
.heightClass
{
	height:0!important;
}
.refImg{
	 height: 100%;
    width: 100%;
} 
#refImgDiv
{
	display:none;
	margin-left: 3vw;
	border: 3px solid black;
	box-shadow: 4px 4px 4px 4px;
	border-radius:2%;
	height:67vh;
}
#jigsawDiv
{
	display:none;
	margin-left: 3vw;
	height: 67vh;
	border: 3px solid black;
    padding: 1%;
    background-color: white;
	box-shadow: 4px 4px 4px 4px;
	border-radius:2%;
}
.outerDivClass
{
   display: flex;
}
#timerDiv 
{
	visibility:hidden;
}
#timer
{
	font-size: 4vw;
	text-align:center;
}
#endPage
{
	font-size: 3vw;
    margin-top: 15vh;
	font-weight: bold;
}
/*
#instructionDiv
{
	display:none;
	border: 1px solid black;
    border-radius: 1vw;
    font-size: 3.5vw;
    font-weight: 500;
    position: fixed;
    top: 25vh;
	box-shadow: -3px 3px 19px rgb(0, 0, 0);

}*/
#videoDiv
{
	margin-top:5vh;
}
